<%
klass ||= nil
f ||= nil
parent_klass ||= nil
%>
<% if klass && f %>

  <% klass.admin_fields.each do |k,v| %>
    <% if v[:type] == 'association' %>

      <% if v[:nested] %>

        <%= f.simple_fields_for k do |f2| %>
          <%= render(partial: 'fields', locals: { klass: v[:class], f: f2, parent_klass: klass  }) %>
        <% end %>

      <% elsif !inverse_relationship_exists?(klass, k, parent_klass) %>
        <div class="row">
          <div class="col s12">
            <%= f.association(k, include_blank: true) %>
          </div>
        </div>
      <% end %>

    <% elsif v[:type] == 'polymorphic' %>
      <%= f.input(k, as: 'polymorphic') %>
    <% else %>

      <%
      input_html = {}
      input_html[:class] = 'materialize-textarea' if v[:type].to_sym == :text
      %>

      <div class="row">
        <div class="col s12">
          <% if [:boolean, :check_boxes, :radio_buttons].include?(v[:type].to_sym) %>
            <%= f.input_field(k, as: v[:type], input_html: input_html) %>
            <%= f.label(k) %>
          <% else %>
            <%= f.input(k, as: v[:type], input_html: input_html) %>
          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>

<% end %>
